#footer{
    max-width: 1363px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: rgb(32, 172, 226);
    padding: 15px 0;
}
.wikis{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}
.reserved{
    margin: 0 auto;
    max-width: 1363px;
    width: 100%;
    background-color: rgb(26, 138, 181);
    height: 37px;
    color: #fff;
}
.fl{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 10px 0 0 0;
}
.fr{
    display: inline-block;
    vertical-align: top;
    margin: -18px 0 0 850px;
}